---
import YouTube from "../YouTube/YouTube.tsx";

export type GameMeta = {
  title: string;
  publisher?: string;
  developer?: string;
  year?: number;
  tags?: string[];
  trailer?: string;
  franchise?: string;
  steam?: string;
};
const { game } = Astro.props;
function getYouTubeVideoId(url?: string) {
  if (!url) return undefined;
  const match = url.split('v=')[1]?.match(/([a-zA-Z0-9_-]{11})/);
  return match ? match[1] : undefined;
}
const video_id = getYouTubeVideoId(game.trailer);
---
<div class="flex flex-col md:flex-row items-stretch mb-0 shadow-none m-0 p-0 bg-inherit">
  <div class="flex flex-col md:flex-row w-full m-0 p-0">
    <div class="flex-1 m-0 p-0 flex flex-col justify-between">
      <div>
        <div class="text-gray-100 text-xs mt-2">{game.publisher}</div>
        <div class="text-gray-100 text-base font-bold my-2">{game.developer}</div>
        <div class="text-gray-100 text-sm">{game.year}</div>
        {game.steam && (
          <div class="mt-2">
            <a href={game.steam} target="_blank" rel="noopener" class="inline-flex items-center gap-1 text-blue-300 hover:text-blue-400 underline text-xs">
              Steam
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H19.5V12M19.5 6L10.5 15M19 19H5V5H12"/></svg>
            </a>
          </div>
        )}
      </div>
      <div class="flex flex-wrap gap-2 mt-2">
        {game.tags && (Array.isArray(game.tags) ? game.tags : []).map((tag: string) => (
          <span class="border border-blue-300 text-blue-300 rounded-full px-3 py-0.5 text-sm">{tag}</span>
        ))}
      </div>
    </div>
    <div class="flex items-center m-0 p-0 mt-4 md:mt-0 md:ml-4">
      {video_id ? (
       <YouTube client:visible videoId={video_id} width="320" height="180" imgSize="mqdefault" class="w-full md:w-[320px] h-[180px] rounded-lg" />
      ) : (
        <div class="w-full md:w-[320px] h-[180px] bg-gray-700 flex items-center justify-center p-0 rounded-lg">
          <span class="text-gray-400 text-base">Missing trailer</span>
        </div>
      )}
    </div>
  </div>
</div>
